#canvas {
    width: 600px;
    height: 600px;
    background-color: whitesmoke;
    position: relative;
}

.rectangle {
    position: absolute;
    background-color: green;
}

.square {
    position: absolute;
    background-color: red;
}

.circle {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
}

.triangle {
    position: absolute;
}